{
    "sites": [{
        "name": "One",
        "url": "https://one.com:12900",
        "color": "#3366cc88"
    },{
        "name": "Two",
        "url": "http://two.com:12900",
        "color": "#dc391288"
    },{
        "name": "Three",
        "url": "https://three.net:12900",
        "color": "#ff990088"
    }],
    "auth": {
        "user": "USER",
        "password": "PASSWORD"
    }
}
